*{
    margin:0;
   box-sizing: border-box;
  
}

body{
    background: url(./white.jpeg);
    background-size: inherit;
    background-position: center;
    background-attachment: scroll;
    text-transform:none;
    text-align: justify;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: block;


}

.personal-information{
   width: 100%;
    font-style: normal;
    letter-spacing: normal;
    text-transform:none;
    text-align:left; 
    font-weight: bold;
    
}
h3{
    text-align: center;
    border: black solid 3px;
    border-block-color: black;
    opacity: .8;
    backdrop-filter: grey;
   
}
h1{
    
    text-align: left;
    
}
h5{
    font-style: italic;
    font-weight: bold;
    
}
#underline{
text-decoration: underline;
line-height: normal;
}
#element-1{
    float: left;
    line-height: normal;
    font-weight: lighter;
    
    
}
#element-2{
    float: right;
    line-height: normal;
    font-weight: lighter;
}
ul, li{
    list-style-type: square;
    line-height: normal;
    
}
.checked{
    color:orange;
}




